@charset "ISO-8859-1";

html {
	height: auto;
}

body {
	background: linear-gradient(#00329B, #96B4D2);
	background-repeat: no-repeat;
	height: 1000px;
}

#mainDiv {
	text-align: center;
	background-color: #96B4D2;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 100px;
	margin-bottom: auto;
	height: auto;
}

table {
	background: #96B4D2;
	border-collapse: collapse;
}

tr {

}

th {
	text-align: left;
	border: 0px solid black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.thAlignRight {
	text-align: right;
	border: 0px solid black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

hr {
	border-top: 1px solid black;
}

.header {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.marginless {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.paddingless {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#titleDiv {
	margin-left: 0px;
	padding-left: 0px;
	background: #357cc4;
}

input {
	margin-left: 10px;
	float: left;
}

input{
	margin-left: 15px;
}

#fname {
	width: 80px;
}

#lname {
	margin-left: 1px;
	width: 80px;
}

#city, #zip {
	width: 120px;
	float: left;
}

#state, #country {
	float: left;
	margin-left: 1px;
	height: 21px;
	width: 48px;
}

#submitDetails {
	float: left;
	margin-left: 15px;
	margin-right: 100%;
}

#invalidMessage {
	padding: 0px;
	margin-left: 15px;
	text-align: left;
	color: red;
	margin-bottom: 0px;
	margin-top: 0px;
}

#formDiv {
	height: 140px;
}