@charset "ISO-8859-1";

html, body {
	min-height: 100%;
	min-width: 100%;
}

body {
	background: linear-gradient(#FFFFFF, #DFE1E5);
	background-repeat: no-repeat;
}

#mainDiv {
	text-align: center;
	background-color: #FEFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: auto;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

@media (min-height: 300px) {
	#mainDiv {
		margin-top: 0px;
	}
}

@media (min-height: 500px) {
	#mainDiv {
		margin-top: 50px;
	}
}

@media (min-height: 700px) {
	#mainDiv {
		margin-top: 150px;
	}
}

@media (min-height: 1000px) {
	#mainDiv {
		margin-top: 200px;
	}
}

.register {
	height: 450px;
	width: 350px;
}

.admin {
	height: 280px;
	width: 350px;
}

.box {
	height: 30px;
	width: 280px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: gray;
}

hr {
	border-top: 1px solid black;
}

.header {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.marginless {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.paddingless {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#titleDiv {
	margin-left: 0px;
	padding-left: 0px;
	background: #DFE1E5;
	border-radius: 20px 20px 0px 0px;
}

input {
	margin-left: 10px;
	float: left;
}

input{
	margin-left: 15px;
}

#fname {
	width: 130px;

}

#lname {
	margin-left: 12px;
	width: 130px;
}

#city, #zip {
	width: 200px;
	float: left;
}

#state, #country {
	float: left;
	margin-left: 12px;
	height: 36px;
	width: 68px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#submitDetails {
	float: right;
	font-size: 17px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 30px;
	height: 36px;
	width: 100px;
	background-color: #F9F9FA;
	border-radius: 5px;
	border-width: 1px;
	border-color: gray;
}

#invalidMessage {
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: red;
}

#rformDiv {
	height: 300px;
}

#aformDiv {
	height: 150px;
}