<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<div id="mainDiv" class="admin">
    <div id="titleDiv">
        <p class="header">Admin Login</p>
    </div>
    <hr class="marginless">
    <br>
    <%- include('../partials/aform'); %>
</div>
</body>
</html>