<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<div id="mainDiv" style="width: 220px; height: 250px;">
    <div id="titleDiv">
        <p class="header">Register</p>
    </div>
    <hr class="marginless">

    <%- include('../partials/rform'); %>
</div>
</body>
</html>